---
const { titulo , descripcion, fecha, imagenSrc, tema } = Astro.props;
---
<article class="relative flex flex-col items-center justify-center max-w-[420px] transition duration-500 hover:scale-110">
  <a href=`/${tema}`>
    <figure class="relative max-w-[450px] max-h-[280px]">
      <img
      alt={`imagen de ${tema}`}
      src={`${imagenSrc}`}
      class="object-contain w-full h-full transition duration-1000 rounded-t-2xl"
      transition:name={`img-${tema}`}
    />
    </figure>
  
    <div class="w-full bg-[#96886B] bg-opacity-90 rounded-b-2xl">
      <div class="p-4 sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-white/90"> {fecha} </time>
  
          <h3 class="mt-0.5 text-lg text-gray-900">{titulo}</h3>
          
          <p class="mt-2 line-clamp-3 text-sm/relaxed text-white/95">
            {descripcion}
          </p>
      </div>
    </div>
  </a>
</article>