---
import Facts from "./Facts.astro";
import InfoBody from "./InfoBody.astro";

const { datos } = Astro.props;
const {
  titulo,
  tituloComplemento,
  contenido0,
  contenido1,
  contenido2,
  contenido3,
} = datos;
---

<section
  class="bg-zinc-800 bg-gradient-to-t from-zinc-800 to-[#2726263a] bg-opacity-20 w-full h-full space-y-5"
>
  <h1
    class="text-4xl text-center py-4 font-semibold text-[#e5e3dc]"
    transition:animate="slide"
  >
    <strong class="text-6xl font-medium block text-[#b0aa94]">{titulo}</strong>
    {tituloComplemento}
  </h1>

  <nav class="grid grid-cols-3 justify-items-center">
    <Facts id="btnContenido1" section={contenido1.titulo} icon="historic" />
    <Facts id="btnContenido2" section={contenido2.titulo} icon="peace" />
    <Facts id="btnContenido3" section={contenido3.titulo} icon="feature-highlight" />
  </nav>

  <article
    class="inset-0 m-auto p-10 space-y-4"
  >
      <InfoBody contenido={contenido0} />
      <InfoBody contenido={contenido1} estilo="hidden" />
      <InfoBody contenido={contenido2} estilo="hidden" />
      <InfoBody contenido={contenido3} estilo="hidden" />
      
    </article>

</section>
